@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --box-shadow-section: 0 0 50px rgb(0 0 0 / 35%);
  --transition-time-quick: 0.22s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.layout-container :is(h1, h2, h3) {
  font-family: "Anton", sans-serif;
}

body {
  min-height: 100vh !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout-container {
  min-height: 100vh;
}

main {
  flex-grow: 1;
  background: hsl(0 0% 54%);
  background-size: 500px;
}

main section {
  padding-block: 10rem;
}
main section .class-grid {
  box-shadow: var(--box-shadow-section);
}

footer {
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%
  );
  padding: 1.5rem !important;
}

footer a:link,
footer a:visited {
  text-decoration: underline;
}

.class-grid > * {
  background: #fff;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
}

.class-grid .descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}

.class-grid-item:hover .descriptions {
  clip-path: circle(75%);
}

/* 
** Start Header 
*/

header[aria-label="main navigation"] {
  z-index: 1;
  transition: var(--transition-time-quick) background-color ease-in-out;
}

header.inverted {
  background-color: #fff;
}

header.inverted .chakra-linkbox__overlay {
  color: #000;
  text-shadow: none;
}

header.inverted .chakra-heading {
  color: #000;
}

/* 
** End Header 
*/

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
